body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    background: rgb(3,2,8);
    background: linear-gradient(142deg, rgba(3,2,8,1) 0%, rgba(46,62,77,1) 100%); 
    color: white; 
    box-sizing: border-box;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
